---
const nav = [
  {
    href: "/",
    label: "ホーム",
  },
  {
    href: "/company",
    label: "会社情報",
  },
  {
    href: "/contact",
    label: "お問い合わせ",
  },
];

const active = "/company";
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>ナビゲーション</title>
  </head>
  <body>
    <h1>ナビゲーション</h1>
    <nav>
      <ul>
        {
          nav.map((item) => {
            return (
              <li class:list={item.href === active && "is-active"}>
                <a href={item.href}>{item.label}</a>
              </li>
            );
          })
        }
      </ul>
    </nav>
  </body>
</html>

<style lang="scss">
  nav {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      li {
        margin-right: 1em;
        padding: 5px 3px;
        a {
          text-decoration: none;
          color: #000;
        }
        &.is-active {
          background-color: #000;
          a {
            color: #fff;
          }
        }
      }
    }
  }
</style>

<script>
  import logElement from "../js";
  logElement();
</script>
